#id-login-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#id-register-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#id-start-game-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#id-statistics-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.login-form-fields {
  margin-top: 50px;
  position: absolute;
  z-index: 999;
  min-width: 250px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
}

.register-form-fields {
  margin-top: 50px;
  position: absolute;
  z-index: 999;
  min-width: 250px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
}

.start-game-form-fields {
  margin-top: 50px;
  position: absolute;
  z-index: 999;
  min-width: 250px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
}

.stats-fields {
  margin-top: 50px;
  position: absolute;
  z-index: 999;
  min-width: 250px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 5px;
}