{% load crispy_forms_tags %}

<div id="id-container-form" class="container-form">
    <form id="id-login-form" action="{% url 'profiles:login' %}" method='POST'>{% csrf_token %}
        {{form|crispy}}
        <input id="id-submit-button" type='submit' class='btn btn-success' value='Login'/>
        <button class="btn btn-secondary"><a id="id-password-reset" href="{% url 'profiles:password_reset' %}">Forgot password!</a></button>
    </form>
</div>

<style>
    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #id-password-reset {
        text-decoration: none;
        color: white;
    }
</style>