<!DOCTYPE html>
<html>
  <head>
    {% block styles %}
    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8= sha256-T+aPohYXbm0fRYDpJLr+zJ9RmYTswGsahAoIsNiMld4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    <title>{% block title %} Hangman {% endblock %}</title>

  </head>

  <body>

    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="{% url 'hangman:main_page' %}"> HangPerson </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" id="id-start-game-button" start-game-form-url="{% url 'hangman:start_game' %}"> Start a Game </a>
                    </li>
                    <div id="id-start-game-form-fields" class="start-game-form-fields" style="display: none;"></div>

                    <li class="nav-item">
                        <a class="nav-link" id="id-statistics-button"> Statistics </a>
                    </li>

                    <li class="nav-item" style="float:right">
                        <a class="nav-link" href="#"> {{request.user.username}} </a>
                    </li>
                    <li class="nav-item" style="float:right">
                        <a class="nav-link" href="{% url 'profiles:logout' %}"> Logout </a>
                    </li>
                {% else %}
                    <li class="nav-item" style="float:right">
                        <a class="nav-link" id="id-login-button" login-form-url="{% url 'profiles:login' %}"> Login </a>
                    </li>
                    <div id="id-login-form-fields" class="login-form-fields" style="display: none;"></div>

                    <li class="nav-item">
                        <a class="nav-link" id="id-register-button" register-form-url="{% url 'profiles:signup' %}"> Sign Up </a>
                    </li>
                    <div id="id-register-form-fields" class="register-form-fields" style="display: none;"></div>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock navbar%}

    {% if messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div class="messages">
            {% for message in messages %}
              <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}

    {% block content %} 
    {% endblock %} 

    {% block js %} 
    {% endblock %}

  </body>
</html>