<div class="main-results">
    <h5>Total Score <span class="badge badge-secondary"> {{total}} </span></h5>
    <ul class="list-group">
        <p style="margin: 2px;"> <b> Saves <span class="badge badge-success badge-pill"> {{wins|length}} </span> </b> </p>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Hard Word
            <span class="badge badge-success badge-pill"> {{wh}} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Medium Word
            <span class="badge badge-success badge-pill"> {{wm}} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Easy Word
            <span class="badge badge-success badge-pill"> {{we}} </span>
        </li>
        <p style="margin: 2px;"> <b> Hangs <span class="badge badge-danger badge-pill"> {{losses|length}} </span> </b> </p>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Hard Word
            <span class="badge badge-danger badge-pill"> {{lh}} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Medium Word
            <span class="badge badge-danger badge-pill"> {{lm}} </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Easy Word
            <span class="badge badge-danger badge-pill"> {{le}} </span>
        </li>
      </ul>
</div>