{% extends 'hangman/base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'hangman/game_finished.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hangman/main_page.css' %}">
{% endblock styles %}
{% block js %}
    <script src="{% static 'hangman/render_forms.js' %}"></script>
{% endblock js %}

{% block title %}
    {% if result %}
        SAVED
    {% else %}
        HANGED
    {% endif %}
{% endblock title %}

{% block content %}

    {% if result %}
        <div class="won">
            <h2>CONGRATULATIONS!</h2>
            <p>You have saved the person</p>
        </div>
    {% else %}
        <div class="lost">
            <h2>PERSON GOT HANGED!</h2>
            <p>Word was {{object.guess_word}} </p>
        </div>
    {% endif %}

{% endblock content %}