{% extends "hangman/base.html" %} 

{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'hangman/main_page.css' %}">
{% endblock styles %}
{% block js %}
    <script src="{% static 'hangman/render_forms.js' %}"></script>
    <script src="{% static 'hangman/start_game_form.js' %}"></script>
{% endblock js %}

{% block content %}
    <div id="id-main-container" class="main-container">
        <h1>Welcome to Hangman Game!</h1>
    </div>
{% endblock content %}