{% extends "hangman/base.html" %} 

{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'hangman/main_page.css' %}">
{% endblock styles %}
{% block js %}
    <script src="{% static 'hangman/render_forms.js' %}"></script>
    <script src="{% static 'hangman/start_game_form.js' %}"></script>
{% endblock js %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the HangPerson Game!</h1>
        <p class="lead">Please don't let our person hang!</p>
        <hr class="my-4">
        <ul>
            <li>Either play against a randomly chosen word from our stores or bring a friend and choose the word yourselves</li>
            <li>You can either make it a race against the time, or have all the time in the world</li>
            <li>You cannot have more than 6 guesses per game, unfortunately, our Person doesn't have that many limbs</li>
        </ul>
    </div>
{% endblock content %}