{% extends 'hangman/base.html' %}

{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'hangman/play_game.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'hangman/main_page.css' %}">
{% endblock styles %}
{% block js %}
    <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
    <script src="{% static 'hangman/countdown.js' %}"></script>
    <script src="{% static 'hangman/play_game.js' %}"></script>
    <script src="{% static 'hangman/render_forms.js' %}"></script>
    <script src="{% static 'hangman/render_stats.js' %}"></script>
    <script src="{% static 'hangman/start_game_form.js' %}"></script>
{% endblock js %}

{% block title %}
    Don't Let The Man Hanging!
{% endblock title %}

{% block content %}
<a id="id-game-over" href="{% url 'hangman:game_over' id=object.id %}"></a>
{% comment %} <a id="id-play-game" href="{% url 'hangman:play_game' id=object.id %}"></a> {% endcomment %}
    <div class="main">
        <div class="left">
            <h2 id="id-word-status" style="font-size: 60px;"> {{ current_status|upper }} </h2>

            {% comment %} <div class="buttons">
                <button class="btn btn-info" id="id-timer" data-time-allowed="{{object.time_allowed}}">Start Timer!</button>
                <button class="btn btn-danger" id="id-reset-timer">Restart Timer!</button>
            </div> {% endcomment %}

            {% comment %} <button class="btn btn-info" id="id-start-timer">Start Clock</button> {% endcomment %}
            {% if object.time_allowed %}
                <button class="btn btn-warning" object-id="{{object.id}}" update-time-url="{% url 'hangman:update_time' %}" id="id-timer" data-time-allowed="{{object.time_allowed}}"> <a id="id-clock"></a> </button>
                <button class="btn btn-danger" id="id-reset-timer">Restart Clock</button>
                <p id="countdown"> </p>
            {% endif %}

            <p style="font-size: 22px;"> <u> Available letters: </u> </p>
            {% for letter in available_letters %}
                {% csrf_token %}
                <button class="btn btn-primary" object-id="{{object.id}}" make-guess-url="{% url 'hangman:make_guess' %}" id="{{letter}}" style="font-size: 16px;"> {{letter|upper}} </button>
            {% empty %}
            {% endfor %}

            <p id="id-used-letters" style="font-size: 22px;"> <u> Used letters: </u> </p>
            <div id="id-ajax"></div>

            {% if not is_finished.0 %}
                <div id="id-used-letters-on-refresh">
                    {% for hit in hits %}
                        <button class="btn btn-success"> {{hit|upper}} </button>
                    {% empty %}
                    {% endfor %}

                    {% for miss in misses %}
                        <button class="btn btn-danger"> {{miss|upper}} </button>
                    {% empty %}
                    {% endfor %}
                </div>
            {% endif %}
{% comment %}             <div class="save-buttons" style="margin-top: 15px;">
                <button class="btn btn-info" id="id-save">Save Current Status</button>
                <button class="btn btn-info" id="id-save-and-exit" exit-url="{% url 'hangman:main_page' %}">Save Current Status and Go to Main Page</button>
            </div> {% endcomment %}
        </div>
        <div class="right"> 
            <h1> Save the Person From Hanging! </h1>
            <p id="id-guess-remaining" remaining-guesses="{{object.guesses_allowed}}"> Guesses remaining: {{object.guesses_allowed}} </p>
            <img id="id-hangman-status-1" src="{% static 'hangman/1.jpg' %}" alt="My image" style="display: none;">
            <img id="id-hangman-status-2" src="{% static 'hangman/2.jpg' %}" alt="My image" style="display: none;">
            <img id="id-hangman-status-3" src="{% static 'hangman/3.jpg' %}" alt="My image" style="display: none;">
            <img id="id-hangman-status-4" src="{% static 'hangman/4.jpg' %}" alt="My image" style="display: none;">
            <img id="id-hangman-status-5" src="{% static 'hangman/5.jpg' %}" alt="My image" style="display: none;">
            <img id="id-hangman-status-6" src="{% static 'hangman/6.jpg' %}" alt="My image" style="display: none;">
            <img id="id-hangman-status-7" src="{% static 'hangman/7.jpg' %}" alt="My image" style="display: none;">
        </div>
    </div>
{% endblock content %}