{% load crispy_forms_tags %}

<div id="id-container-form" class="container-form">
    <h5>Start a Game</h5>
    <form id="id-start-game-form" action="{% url 'hangman:start_game' %}" method='POST'>{% csrf_token %}
        <div class="word-source">
            {{form.word_source|as_crispy_field}}
        </div>

        <div class="word-difficulty" id="id-word-difficulty">
            {{form.word_difficulty|as_crispy_field}}
        </div>

        <div class="guess-word" id="id-guess-word" style="display: none;">
            {{form.guess_word|as_crispy_field}}
        </div>

        <div class="time-allowed">
            {{form.time_allowed|as_crispy_field}}
        </div>

        <div class="guesses-allowed">
            {{form.guesses_allowed|as_crispy_field}}
        </div>
        <input id="id-submit-button" type='submit' class='btn btn-success' value='Start'/>
    </form>
</div>

<style>
    .btn {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>
